@font-face {
  font-family: 'Franklin Gothic';
  src: url(../ofont.ru_Franklin+Gothic+Medium+Cond.eot);
  src: url(../ofont.ru_Franklin+Gothic+Medium+Cond.eot?#iefix) format('embedded-opentype'),
       url(../ofont.ru_Franklin+Gothic+Medium+Cond.otf) format('otf'),
       url(../ofont.ru_Franklin+Gothic+Medium+Cond.svg#ofont.ru_Franklin%20Gothic%20Medium%20Cond) format('svg'),
       url(../ofont.ru_Franklin+Gothic+Medium+Cond.ttf) format('truetype'),
       url(../ofont.ru_Franklin+Gothic+Medium+Cond.woff) format('woff'),
       url(../ofont.ru_Franklin+Gothic+Medium+Cond.woff2) format('woff2');
}
 
body{
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    
}
.text{
  padding-top: 150px;
  margin-left: 45%;
  padding-bottom: 20x;
  color: #ea7f00;
  font-size: 1.7rem;
    font-weight: bold;
}
.loader {
  position: absolute;
  left: 50%;
  top: 350px;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ea7f00;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  border-radius: 50%;
  width: 100px;
  height: 100px;
      -webkit-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
    }

.logo{
    color: #fff;
    font-size: 20px;
    line-height: 60px;
     float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
    font-family: 'Franklin Gothic', sans-serif;
}

.menu{
    float: left;
          }


.menu li{

    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 800px;
    background: url(../img/mobile-devices.png) 90% 90% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
   margin-top: 350px;
}

.title__container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
   opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.title__container h1{
    font-family: Arial, sans-serif;
    font-size: 65px;
    font-weight: 600;
    
}

.title__container h4{
    margin-top: 40px;
    font-size: 25px;
    color: #79818d;
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #ff6600;
       }
.menu li a:active{
       transform: scale(1.1);
    }
.title__container input{
    transition: all 0.2s;
    transform: scale(1);
}
.title__container input:hover{
   background: #344051;
    color: white;
}
.title__container input:active{
    transform: scale(1.1);
}
@keyframes comming{
    from{
        opacity: 0;
    } 
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity:  0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
@keyframes titlemove{
    from{
        opacity:  0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

.white-btn:visited{
    color: white;
}
@media (max-width: 991px){
    .title__container, .title__container h4, .title__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
    .title__container input{
        border: 2px solid #ffff;
    }
}

.block1{
    width: 100%;
    height: 800px;
    background: url(../img/fon2.jpg) center/cover no-repeat local;
       }

.block1 p:hover{
    color: #ea7e00;
    transform: scale(1.1,1.1)
}

button{
    transition: all 0.2s;
    transform: scale(1);
 }
button:active{
    transform: scale(1.1)
}
@media (max-width: 992px) {
  .block1 p{
    font-size: 13px;
    }}
@media (max-width: 992px) {
  .block1{
    height: 900px;
    }}
          
.block2{
    width: 100%;
    height: 525px;
    background: url(../img/pexels.jpg) center/100% no-repeat local;
}
 
.block2 p:hover{
    color: #ea7e00;
    transform: scale(1.1,1.1)
}

.block2 h5{
    color: #e87700;
    font-weight: bold;
}
@media (max-width: 992px) {
  .block2{
   height: 1500px;
   
    }}
.block3{
    width: 100%;
    height: 250px;
}
@media (max-width: 992px) {
  .block3{
   height: 350px;
}}
.block4{
    width: 100%;
    height: 600px;
    background: url(../img/Layer%200.jpg) center/cover no-repeat local;
}

.btn-info{
color: white;
}



.block5{
    width: 100%;
    height: 500px;
    background: url(../img/nout2.jpg) center/100% no-repeat;
   background-attachment: fixed;
}
@media (max-width: 992px) {
  .block5{
   height: 1000px;
}}

.block6{
    width: 100%;
    height: 600px;
    background: url(../img/fon5.jpg) center/cover no-repeat local; 
	}

.block7{
    width: 100%;
    height: 1000px;
    background: url(../img/fon6.jpg) center/cover no-repeat local;
}


.block8{
    width: 100%;
    height: 280px;
    }


.element-animation{
	opacity: 0;
}
.element-animation.show-animation{
	opacity: 1;
	transition: opacity 1s;
}














